body {
  background: #ccc;
  line-height: 1.618rem;
  margin: 1rem;
}

header {
  background: #000;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  height: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 2px;
}

span {
  padding-left: 0.618rem;
  padding-right: 0.618rem;
}